body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
  background-color: #5d52a2;
  height: 100vh;
  padding-top: 80px;
  position: relative;
  color: white;
  text-align: center;
}

.robot-img {
  max-height: 400px;
  margin-top: 30px;
}
#chat-body div {
  margin-bottom: 10px;
}
#chat-body ul {
  padding-left: 20px;
}
#chat-body strong {
  font-weight: bold;
}




