Flask==2.3.3
Flask-CORS==4.0.0
Werkzeug==2.3.7
PyMuPDF==1.23.8
pdfminer.six==20221105
sentence-transformers==2.2.2
scikit-learn==1.3.0
langchain==0.0.267
langchain-community==0.0.6
langchain-openai==0.0.2
azure-search-documents==11.4.0
openai==0.28.1
mysql-connector-python==9.4.0
pymysql==1.1.1 